{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      {{ .Content }}
      <ul>
        {{ if .Site.Data.contact.email }}
        <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
            {{ .Site.Data.contact.email }}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
{{ end }}